      <div class="card-row">
        <div class="card-column">
          <div class="card">
            <img src="./Images/2022hyc030017_640_01.jpg" class="card-img-top" alt="temp-image">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Add To Cart!</a>
              <a href="/vehicle/{{id}}" class="btn btn-primary">Reviews!</a>
            </div>
          </div>
        </div>
      </div>