<dvi class="card">
  <div class="card-hearder">
    <h2>Sign Up</h2>
  </div>
</dvi>
<div class='form-row'>
  <div class='offset-1 py-3 col-lg-10'>
    <button class='btn2' id='linkCreateAccount' type='submit'>Sign Up</button>
  </div>
</div>