  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Primary Keys Rentals</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
     <!--Hero image display above car rental options-->
    <section class="hero-image-container">
      <img src="./Images/nissan-rental-car-lineup-hero_v2.jpg.ximg.l_full_m.smart.jpg" class="heroImage">
      <h2>Primary Keys Rentals</h2>
    </section>
    <section class="card-display">
      {{#each vehicles as |vehicle|}}
      <!-- Start partials -->
      {{> vehiclecards}}
      <!-- end partials -->
      {{/each}}  
    </section>
  {{!-- <section>
    <div class="card-container">
      <div class="row g-0">
        <div class="col-lg-5">
          
        </div>
      </div>
    </div>
    
  </section> --}}
  <script src='/js/cart.js'></script>
  <script src="/js/logout.js"></script>