<section class="login py-5 bg-light">
  <div class="container">
    <div class="row g-0">
      <div class="col-lg-5">
        <img src="./Images/pexels-hassan-ouajbir-804130.jpg" class="img-fluid" alt="Primary-keys-rental-logo">
      </div>
      <div class="col-lg-7 text-center py-5">
        <h1 class="animate__animated animate__pulse animate__infinite pb-5">Primary Keys Rentals</h1>
        <!--Login Form-->
        <form class="form" id="login">
          <div class="form-row py-4 pt-5">
            <div class="offset-1 col-lg-10">
              <input type="email" class="inp px-3" placeholder="Email" id="email-input-login"/>
            </div>
          </div>
          <div class="form-row py-4">
            <div class="offset-1 col-lg-10">
              <input type="password" class="inp px-3" placeholder="Password" id="password-input-login"/>
            </div>
          </div>
          <div class="form-row">
            <div class="offset-1 col-lg-10">
                <button class="btn1" id="linkLogin" type="submit">Login</button>
            </div>
            <div class="offset-1 py-3 col-lg-10">
              <button class="btn2" id="linkCreateAccount" type="submit">Sign Up</button>
            </div>
          </div>
        </form>
        <script src="/js/login.js"></script>