       <!--SignUp Form Page below-->
        <!--****************************************-->
        <!--UserName Form-->
        <form class="form form-hidden" id="createAccount">
          <div class="form-row py-4 pt-5">
            <div class="offset-1 col-lg-10">
              <input type="text" class="inp px-3" placeholder="UserName" id="username-input-signup"/>
            </div>
          </div>
          <!--Email form-->
          <div class="form-row py-4">
            <div class="offset-1 col-lg-10">
              <input type="email" class="inp px-3" placeholder="Email Address" id="email-input-signup"/>
            </div>
          </div>
          <!--Password form-->
          <div class="form-row py-4">
            <div class="offset-1 col-lg-10">
              <input type="password" class="inp px-3" placeholder="Password" id="password-input-signup"/>
            </div>
          </div>

        </form>
        <!--Sign Up Button-->
        <div class="form-row">
          <div class="offset-1 py-3 col-lg-10">
            <button class="btn2" id="linkCreateAccount" type="submit">Sign Up</button>
          </div>
        </div>

        <script src="/js/signup.js"></script>